*.[oa]
*~
*.l[oa]
*.vect
*.bak
Makefile
.deps
Makefile.in

build/

CommonLibs/BitVectorTest
CommonLibs/ConfigurationTest
CommonLibs/F16Test
CommonLibs/InterthreadTest
CommonLibs/LogTest
CommonLibs/RegexpTest
CommonLibs/SocketsTest
CommonLibs/TimevalTest
CommonLibs/VectorTest
HLR/HLRTest
INSTALL
Transceiver/USRPping
Transceiver/transceiver
Transceiver52M/USRPping
Transceiver52M/sigProcLibTest
Transceiver52M/transceiver
aclocal.m4
apps/OpenBTS
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
